<h1>Chat room</h1>
<p><%= notice%></p>
<div class="container">
  <table>
    <tr>
      <th>Current Posts</th>

    </tr>
  <% @chats.each do |chat| %>
    <tr>
      <td><%= chat.post %></td>
      <td><%=link_to "Edit post", edit_chat_path(chat.id), data: {confirm: 'Do you really want edit it?'} %></td>
      <td><%=link_to 'Post Details', chat_path(chat.id)%></td>
      <td><%=link_to 'Delete post', chat_path(chat.id), method: :delete, data: {confirm:'Are you sure you want to delete?'}%></td>
    </tr>

  <% end %>
  </table>

  <%=link_to 'create new post', new_chat_path%>
</div>
